{{> header}}
<center><h1 class="display-3" style="margin-top: 20px;">{{title1}}</h1></center></br>
<center><h3 class="display-10">COMPANY PROGRAMMING KHO</h3></center>
<div>   
    <center><img src="https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/81a81e84855291.5d69fe2710f54.jpg" class="img-fluid" alt="..."></center>
</div>
<center>
    <div class="display-6">Group members:</div><br>
    <div class="display-7">Katya Ivonne Viscarra Portillo
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        Hayci Natalia Zuniga Ramirez
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        Oscar Daniel Benitez Blanco</div>
</center>